* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(226, 243, 250);
}
.login-wrapper {
  margin-top: 150px;
}

.Container {
  width: 1280px;
  margin: 0 auto;
}

.login-container {
  width: 500px;
}

.login-container h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form {
  width: 100%;
}

.login-form h1 {
  text-transform: uppercase;
  font-size: 28px;
}

.login-form input {
  width: 100%;
  margin: 15px 0px;
  padding: 12px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 15px 0px;
  outline: none;
  background-color: rgb(153, 247, 153);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.dont-accout {
  color: black;
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.dont-accout a {
  text-decoration: none;
  color: blue;
}
